<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Blog view</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="/static/css/base.css">
   <link rel="stylesheet" href="/static/css/vendor.css">  
   <link rel="stylesheet" href="/static/css/main.css">
        

   <!-- script
   ================================================== -->
	<script src="/static/js-2/modernizr.js"></script>
	<script src="/static/js-2/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="/static/image/x-icon">
	<link rel="icon" href="favicon.ico" type="/static/image/x-icon">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header class="short-header">   

   	<div class="gradient-block"></div>	

   	<div class="row header-content">

        <div class="logo">
            <a href="#">Author</a>
         </div>

		 <nav id="main-nav-wrap">
			<ul class="main-navigation sf-menu">
				<li><a href="{{url_for('index')}}" title="">Home</a></li>
				{% if user.role == 'admin' %}								
					<li><a href="{{url_for('dashboard')}}" title="">Dashboard</a></li>
					<li><a href="{{url_for('logout')}}" title="">Logout</a></li>
				{% elif user.role != '' %}
					<li>Hello {{user.username}} !</li>
					<li><a href="{{url_for('logout')}}" title="">Logout</a></li>
				{% else %}
					<li><a href="{{url_for('login')}}">Login</a></li>
				{% endif %}							
			</ul>
		</nav> <!-- end main-nav-wrap -->

			<div class="search-wrap">
				
				<form role="search" method="get" class="search-form" action="#">
					<label>
						<span class="hide-content">Search for:</span>
						<input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
					</label>
					<input type="submit" class="search-submit" value="Search">
				</form>

				<a href="#" id="close-search" class="close-btn">Close</a>

			</div> <!-- end search wrap -->	

			<div class="triggers">
				<a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
				<a class="menu-toggle" href="#"><span>Menu</span></a>
			</div> <!-- end triggers -->	
   		
   	</div>     		
   	
   </header> <!-- end header -->
   

   <!-- content
   ================================================== -->
   <section id="content-wrap" class="blog-single">
   	<div class="row">
   		<div class="col-twelve">

   			<article class="format-standard">  

   				<div class="content-media">
						<div class="post-thumb">
							<img src="/static/images/thumbs/single/single-01.jpg"> 
						</div>  
					</div>

					<div class="primary-content">

						<h1 class="page-title">{{blog.title}}</h1>	

						<ul class="entry-meta">
							<li class="date">{{blog.date}}</li>						
							<li class="cat"><a href="">{{blog.type}}</a></li>				
						</ul>						

						<p>{{blog.content | safe}}</p>

						<p><img src="/static/images/shutterbug.jpg" alt=""></p>

				</article>
   		

			</div> <!-- end col-twelve -->
   	</div> <!-- end row -->

		<div class="comments-wrap">
			<div id="comments" class="row">
				<div class="col-full">

               <h3>{{num_comm}} Comments</h3>

               <!-- commentlist -->
               <ol class="commentlist">
				{% for comment in comments %}
                  <li class="depth-1">
                     <!-- <div class="avatar">
                        <img width="50" height="50" class="avatar" src="/static/images/avatars/user-01.jpg" alt="">
                     </div> -->

                     <div class="comment-content">

	                     <div class="comment-info">
	                        <cite>{{comment.author_name}}</cite>

	                        <div class="comment-meta">
	                           <time class="comment-time" datetime={{comment.comment_date}}>{{comment.comment_date}}</time>
	                           <span class="sep">/</span><a class="reply" href="#">Reply</a>
	                        </div>
	                     </div>

	                     <div class="comment-text">
	                        <p>{{comment.content}}</p>
	                     </div>

	                  </div>

                  </li>
				  {% endfor %}				

               <!-- respond -->
               <div class="respond">

               	<h3>Leave a Comment</h3>

                  <form name="contactForm" id="contactForm" method="post" action="{{url_for('comment', blog_id = blog.id)}}">
                     <div class="message form-field">
                        <textarea name="content" id="content" class="full-width" placeholder="Write your message here" ></textarea>
                     </div>

                     <button type="submit" class="submit button-primary">Submit</button>

  					   </fieldset>
  				      </form> <!-- Form End -->

               </div> <!-- Respond End -->

         	</div> <!-- end col-full -->
         </div> <!-- end row comments -->
		</div> <!-- end comments-wrap -->

   </section> <!-- end content -->


   <!-- footer
   ================================================== -->
   <footer>
      <div class="footer-bottom">
      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright Abstract 2016</span> 
		         	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>		         	
		         </div>

		         <div id="go-top">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
		         </div>         
	      	</div>

      	</div> 
      </div> <!-- end footer-bottom -->  

   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="/static/js-2/jquery-2.1.3.min.js"></script>
   <script src="/static/js-2/plugins.js"></script>
   <script src="/static/js-2/main.js"></script>

</body>

</html>